$full-screen: 100vh;
$full-width: 100vw;
$padding:3rem;

html,body{
    overflow-x: hidden
}

.gap-top{
    padding-top: $padding
}
.gap-bottom{
    padding-bottom: $padding;
}
.gap-both{
    padding-top: $padding;
    padding-bottom:$padding;
}
.dark-bg{
    background-color: $dark-gray;
}
.dark-text{
    color: $dark-gray;
}
.med-dark-text{
    color: $secondary-color;
}

#menu-bar{
    position:absolute;
    width:100%;
    top:0;
    z-index:99999;
    max-height: 50px;
    #logo{
        img{
            max-height: 50px;
        }
    }
    #menu-button{
        background-color: $primary-color;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        transition: background-color 0.8s;
        margin-right: 60px;
        float: right;
        &:after{
            content:'Menu';
            display: block;
            line-height: 50px;
            padding-left: 65px;
            font-family: $bebas-book;
            font-size: 1.5rem;
            transition: transform 0.8s;
        }
        .menu-line{
            display: block;
            height: 2px;
            width: 40%;
            background-color: $dark-gray;
            position: absolute;
            left:50%;
            transform: translateX(-50%);
        }
        #menu-line-1{
            top:40%;
            transition: all 0.8s;
        }
        #menu-line-2{
            top:50%;
            transition: all 0.8s;
        }
        #menu-line-3{
            top:60%;
            transition: all 0.8s;
        }
        &:hover{
            background-color:$dark-gray;
            cursor: pointer;
            .menu-line{
                background-color:$primary-color;
            }
            #menu-line-1{
                transform: rotate(-30deg) translateX(-50%) translateY(-6px);
                transition: all 0.8s;
            }
            #menu-line-2{
                transform: rotate(90deg) translateY(2px);
                transition: all 0.8s;
            }
            #menu-line-3{
                transform: rotate(30deg) translateX(-50%) translateY(6px);
                transition: all 0.8s;
            }
            &:after{
                transform: translateX(-10px);
                transition: transform 0.8s;
            }
            transition: background-color 0.8s;
        }
        &.menuOpen{
            #menu-line-1{
                transform: rotate(-45deg) translateX(-50%) translateY(-5px);
                transition: transform 0.8s;
                width:50%;
                transition: all 0.8s;
            }
            #menu-line-2{
                width: 0;
                transition: all 0.8s;
            }
            #menu-line-3{
                transform: rotate(45deg) translateX(-50%) translateY(5px);
                width:50%; 
                transition: all 0.8s;
            }
        }
    }
}

#menu-bg{
    background-color: rgba($black, 0.9);
    height: $full-screen;
    width:$full-width;
    position: fixed;
    z-index:99998;
    opacity: 1;
    transition:opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    &[data-showMenu="false"] {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.6s, opacity 0.5s;
    }
    h3{
        font-size:4rem;
        &:hover{
            padding-left: 20px;
            transition: padding 0.5s;
        }
    }
}

.hero-image{
    background: url('../img/hero-bg.jpg');
    > div{
        position: relative;
        z-index:2;
    }
    #video-bg{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        min-height: $full-screen;
        max-height:$full-screen;
        min-width:100%;
        max-width:100%;
        overflow: hidden;
        display: none;
        video{
            width: auto;
            height: 100%;
        }
        @include breakpoint(large) {
            display: block;
        }   
    }
    height: $full-screen;
    h1{
        &:after{
            content:'';
            display:block;
            height:5px;
            width:150px;
            background-color:$primary-color;
        }
    }
    h2{
        font-family:$lato;
        font-weight:$weight-thin;
    }
    .clients{
        border-top:1px solid $primary-color;
        padding: 50px 0;
        color:$secondary-color;
        .company-logos{
            img{
                max-height:60px;
                padding-left:25px;
            }
        }
    }
}
.expertise{
    h5{
        font-family: $lato;
        font-weight: 400;
    }
}

.portfolio-item{
    height: $full-screen;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    .portfolio-title{
        width:100%;
        position: relative;
        background-color:$primary-color;
        padding:3rem;
        h4{
            line-height: 68px;
        }
        @include breakpoint(medium) {
            width:500px;
            position: absolute;
        }
    }
    .left-portfolio{
        left:0;
        bottom:-3rem;
    }
    .right-portfolio{
        right:0;
        bottom:-3rem;
    }
    .portfolio-content{
        background-color: $white;
        padding:$padding;
        overflow-y: scroll;
        left:100%;
        transition: left 0.8s;
        margin-right:-20px;
        max-height: $full-screen;
        z-index: 5;
        position: absolute;
        @include breakpoint(medium) {
            position: relative;
            color:$dark-gray;
        }
        &.active{
            left:0%;
            transition: left 0.8s;
        }
        .button{
            color: $dark-gray;
        }
    }
    @include breakpoint(small only){
        &{
            align-items:flex-end;
        }
    }
}

#akx{
    background-image: url(../img/akx.jpg);
    z-index: 10;
}
#wiltshire-council{
    background-image: url(../img/white-horse.jpg);
    z-index: 9;
}
#jgp{
    background-image: url(../img/jgp.jpg);
    z-index: 8;
}
#snap-happy{
    background-image: url(../img/snap-happy.jpg);
    z-index: 7;
}
#dsp{
    background-image: url(../img/dsp.jpg);
    z-index: 6;
}
#msp{
    background-image: url(../img/msp.jpg);
    z-index: 5;
}

#main-title{
    padding-top:15vh;
}
.about-us-image{
    overflow: hidden;
    filter: grayscale(1);
}
.social{
    a{
        color:$dark-gray;
        background-color:$primary-color;
        display:inline-block;
        width: 46px;
        height:46px;
        text-align: center;
        line-height: 46px;
        border: 1px solid $primary-color;
        transition: all 0.3s;
        &:hover{
            background-color:rgba($primary-color, 0);
            color:$primary-color;
            transition: all 0.3s;
        }
    }
}

input[type="text"], input[type="email"]{
    border-bottom:1px solid $primary-color;
}
textarea{
    border-bottom:1px solid $primary-color;
    height:100px;
}