<div id="about" class="grid-x">
    <div class="cell text-center dark-text">
        <h3>About</h3>
    </div>
</div>
<div class="grid-x med-dark-text gap-bottom grid-margin-x">
    <div class="cell small-8 medium-4 small-offset-2">
        <p>I am Rob Clark, a Web &amp; UX Designer in Trowbridge in the West of Wiltshire near Bath in the UK. I have been within the Digital Media world since 2009 starting of as a web designer within the Ministry of Defence working on a SharePoint website called the Army Knowledge eXchange (AKX).</p>
        <p>I have experience in Front End Development, User Experience Design and WordPress Theme Development, but there's also lots more for me to learn and new challenges to overcome.</p>
    </div>
    <div class="cell small-8 small-offset-2 medium-offset-0 medium-4">
        <p>"Perfection is not attainable, but if we chase perfection we can catch excellence." - Vince Lombardi</p>
        <p>This quote is how I live within the Digital World. When a new task is passed to me whether big or small I strive for pecfection in order to achieve excellence. Whether it's designing a new website, examining the User Experience of an application or simply fixing that pesky bug what you will get is outstanding quality.</p>
    </div>
</div>
<div class="grid-x med-dark-text gap-bottom">
    <div class="cell small-6 small-offset-3 text-center about-us-image">
        <img src="assets/img/rc.jpg" alt="Rob Clark" data-bottom-top="transform: translate3d(-5%, 0px, 0px);" data-top-bottom="transform: translate3d(15%, 0px, 0px);"/>
    </div>
</div>
<div class="grid-x med-dark-text gap-bottom">
    <div class="cell small-12 text-center">
        Below are a list of my expertise.
    </div>
</div>
<div class="grid-x med-dark-text expertise gap-bottom grid-margin-x">
    <div class="cell small-8 medium-4 xlarge-2  small-offset-2">
        <h5>Front End Development</h5>
        <ul class="no-bullet">
            <li>HTML5</li>
            <li>CSS3</li>
            <li>SASS</li>
            <li>JQuery</li>
            <li>GreenSock.js</li>
            <li>Bootstrap 3 &amp; 4 Framework</li>
            <li>Foundation 5 &amp; 6 Framework</li>
        </ul>
    </div>
    <div class="cell small-8 medium-4 small-offset-2 medium-offset-0 xlarge-2">
        <h5>User Experience</h5>
        <ul class="no-bullet">
            <li>User Testing</li>
            <li>Persona Creation</li>
            <li>A/B Testing</li>
            <li>Hotjar Heatmap</li>
            <li>User Journey's</li>
            <li>Low/High Fidelity Wireframing</li>
            <li>Prototype Creation</li>
            <li>Trello</li>
            <li>Wrike</li>
        </ul>
    </div>
    <div class="cell small-8 medium-4 small-offset-2 large-offset-0 xlarge-2">
        <h5>Web Development</h5>
        <ul class="no-bullet">
            <li>SharePoint</li>
            <li>WordPress</li>
            <li>Shopify</li>
            <li>Joomla</li>
            <li>Perch</li>
            <li>HubSpot</li>
            <li>Theme/Template Development</li>
            <li>PHP</li>
            <li>GitHub</li>
            <li>BitBucket</li>
        </ul>
    </div>
    <div class="cell small-8 medium-4 small-offset-2 medium-offset-0  xlarge-2">
        <h5>Applications</h5>
        <ul class="no-bullet">
            <li>Adobe Photoshop</li>
            <li>Adobe Illustrator</li>
            <li>Adobe Animate</li>
            <li>Adobe After Effects</li>
            <li>Adobe Premiere Pro</li>
            <li>Googel Web Designer</li>
            <li>Sublime Text</li>
            <li>Brackets</li>
            <li>MockPlus</li>
            <li>Justinmind</li>
        </ul>
    </div>
</div>
<div class="grid-x gap-bottom">
    <div class="cell small-24 text-center">
        <a class="hollow button secondary" href="/assets/docs/cv.pdf">View CV</a>
    </div>
</div>