<div class="grid-x portfolio-item" id="akx">
    <div class="portfolio-title dark-text left-portfolio" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 40%, 0px);">
        <h4>The Army Knowledge eXchange</h4>
        <p>The Army’s ‘one-stop shop’ for Land Environment Knowledge</p>
        <button class="hollow button secondary" href="#">View Project</button>
        <p>UI/UX</p>
    </div>
    <div class="portfolio-content dark-text small-12 large-6 large-offset-6">
        <button class="close-button" aria-label="Close alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>The Army Knowledge eXchange (AKX)</h4>
        <p>The second module of my User Experience Design MSc, UXD Content, I chose my full time job for my coursework. The task was to locate ways of making the site a tool used on a regular basis by members of the armed forces.</p>
        
        <p>First the task was to create persona’s to identify the types of users likely to use the site followed by interviews with 5 different users focusing on how they felt using the site, and locating ‘pain points’ within the usage process. This was followed by a card sorting exercise to identify what content was best displayed on the front page of the site. The design was then built using WordPress content management system to demonstrate some of the interactivity that would be encouraged within the site.</p>

        <p>As a result of this coursework, the design and some of it’s functionality is now being incorporated into the official AKX site and I’m in the process of building this in SharePoint 2013.</p>
        
        <a href="http://uni.blue-phoenix.co.uk/UXContent/Clark_Robert_K1454389_AKX_CI7830.pdf" title="Design Rationale" class="button">Design Rationale</a>
        <a href="http://akx.blue-phoenix.co.uk/" title="WordPress Prototype" class="button">WordPress Prototype</a>
        <a href="http://uni.blue-phoenix.co.uk/UXContent/Tablet/" title="App Prototype" class="button">App Prototype</a>
        <img src="assets/img/akx-1.png" alt="Army Knowledge eXchange Front Page"/>
        <img src="assets/img/akx-2.png" alt="Army Knowledge eXchange Standard Page"/>
        <img src="assets/img/akx-3.png" alt="Army Knowledge eXchange Article Page"/>
    </div>
</div>