<div class="dark-bg" id="contact">
    <div class="grid-x">
        <div class="cell text-center">
            <h3>Get In Touch</h3>
        </div>
    </div>
    <div class="grid-x gap-bottom">
        <div class="cell small-8 medium-4 small-offset-2">
            Drop me a mail @<br/><br/>
            <a href="mailto:info@robclarkdesigner.co.uk"><strong>info@robclarkdesigner.co.uk</strong></a>
            <br/><br/>
            <div class="social gap-top">
                Follow me @<br/><br/>
                <a href="https://www.facebook.com/rob.clark.167527" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/robclarkdesigner" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://www.behance.net/robclarkdesigner" target="_blank" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                <a href="mailto:info@robclarkdesigner.co.uk" title="Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="cell small-8 small-offset-2 medium-3 medium-offset-1">
           Send me a message @<br/><br/>
            <form method="post" action="asset/forms/form.php">
                <div class="grid-x">
                    <div class="small-12 cell">
                        <label>
                        <input type="text" placeholder="Name" name="name">
                        </label>
                    </div>
                    <div class="small-12 cell">
                        <label>
                        <input type="email" placeholder="Email" name="email">
                        </label>
                    </div>
                    <div class="small-12 cell">
                        <textarea placeholder="Message" name="message"></textarea>
                    </div>
                    <div class="small-12 cell text-right">
                        <input id="submit" name="submit" type="submit" value="Contact Me" class="hollow button primary g-recaptcha" data-sitekey="6LdYt2oUAAAAANjjpIHOQdXqGuHCZj34cEjVzCXL" data-callback="YourOnSubmitFn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>