<div class="grid-x portfolio-item" id="dsp">
    <div class="portfolio-title dark-text left-portfolio" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 40%, 0px);">
        <h4>Interactive Transparent Displays</h4>
        <p>User Experience Design Coursework - Wireframes &amp; Prototypes for an Interactive Transparent Displays</p>
        <button class="hollow button secondary" href="#">View Project</button>
        <p>UI/UX</p>
    </div>
    <div class="portfolio-content dark-text small-12 large-6 large-offset-6">
        <button class="close-button" aria-label="Close alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Interactive Transparent Display</h4>
        <p>As part of my Digital Media Specialist module of my UX MSc, I worked within a team of 6 in which we were tasked to investigate Interactive Transparent Displays and their potential uses. While they are predominantly used as a means of commercial advertisment, the team came up with the idea of using this technology, with the inclusion of additional technology to use within a zoo and collaborative commercial environment.</p>
        <p>The team consisted of 1 Game Designer, 1 Games Programmer, 2 Computer Animators and 2 UX Designers, with my role as a UX designer to create a User Interface for the zoo platform.</p>
        <p>We regularly communicated as a team via Google Hangouts and WhatsApp due to our various locations, and planned and executed part of our roles via Trello to keep the whole project organised.</p>
        <p>The Wireframes were designed in Photoshop while the prototype was built using HTML 5. For a better understanding of the work involved, visit the team blog for more information.</p>
        
        <a href="http://uni.blue-phoenix.co.uk/DSP/Clark_Robert_K1454389_Interactive_transparent_Display_CI7810.pdf" title="Design Rationale" class="button">Design Rationale</a>
        <a href="http://uni.blue-phoenix.co.uk/DSP/whale.html" title="HTML Prototype (Whale)" class="button">HTML Prototype (Whale)</a>
        <a href="http://uni.blue-phoenix.co.uk/DSP/index.html" title="HTML Prototype (Tiger)" class="button">HTML Prototype (Tiger)</a>
        <a href="http://dsp.blue-phoenix.co.uk/" title="Team Blog" class="button">Team Blog</a>
        
        <img src="assets/img/dsp-1.jpg" alt="Interactive Transparent Display"/>
        <img src="assets/img/dsp-2.jpg" alt="Interactive Transparent Display"/>
        <img src="assets/img/dsp-3.jpg" alt="Interactive Transparent Display"/>
        <img src="assets/img/dsp-4.jpg" alt="Interactive Transparent Display"/>
        <img src="assets/img/dsp-5.jpg" alt="Interactive Transparent Display"/>
        <img src="assets/img/dsp-6.jpg" alt="Interactive Transparent Display"/>
        <img src="assets/img/dsp-7.jpg" alt="Interactive Transparent Display"/>
    </div>
</div>