<div class="grid-x align-middle hero-image">
    <div id="video-bg" autoplay="autoplay" loop="loop">
        <video loop muted autoplay poster="assets/img/hero-bg.jpg" class="fullscreen-bg__video">
            <source src="assets/video/hero-bg-1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="cell small-offset-1 small-10 end" id="main-title">
        <h1>Rob Clark</h1>
        <h2>Web &amp; UX Designer</h2>
    </div>
    <div class="clients cell small-offset-1 small-10 end grid-x align-middle  hide-for-small-only">
        <div class="cell small-12 large-4">
            Some of My Clients
        </div>
        <div class="cell small-12 large-8 text-right company-logos">
            <img src="assets/img/NHS.svg" alt="NHS"/>
            <img src="assets/img/English-Heritage.png" alt="English Heritage"/>
            <img src="assets/img/army.svg" alt="British Army"/>
        </div>
    </div>
</div>