<div class="grid-x portfolio-item" id="jgp">
    <div class="portfolio-title dark-text left-portfolio" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 40%, 0px);">
        <h4>James Green Photographer</h4>
        <p>WordPress Theme Build</p>
        <button class="hollow button secondary" href="#">View Project</button>
        <p>WordPress Template Build</p>
    </div>
    <div class="portfolio-content dark-text small-12 large-6 large-offset-6">
        <button class="close-button" aria-label="Close alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>James Green Photographer</h4>
        <p>On this website the customer’s main focus was the ability to show of the photo’s that he has taken. The design of the website was done by himself, and it was up to me to convert it into a fully working WordPress site for him to easily update.</p>

        <p>The website uses <a href="https://en.wikipedia.org/wiki/Retina_Display" target="_blank">retina display</a> ready and also uses <a href="https://appelsiini.net/projects/lazyload/">lazyload</a> which ensures that images only load when required and does not slow down the site.</p>
        
        <a href="http://jamesgreenphotographer.co.uk/" title="Live Website" class="button">Live Website</a>
        
        <img src="assets/img/jgp-1.png" alt="James Green Photographer"/>
        <img src="assets/img/jgp-2.png" alt="James Green Photographer"/>
        <img src="assets/img/jgp-3.png" alt="James Green Photographer"/>
        <img src="assets/img/jgp-4.png" alt="James Green Photographer"/>
    </div>
</div>