<div class="grid-x portfolio-item" id="msp">
    <div class="portfolio-title dark-text left-portfolio" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 40%, 0px);">
        <h4>Mobile Contract Template</h4>
        <p>User Experience Design Coursework - Developing a Mobile Contract Template</p>
        <button class="hollow button secondary" href="#">View Project</button>
        <p>UI/UX</p>
    </div>
    <div class="portfolio-content dark-text small-12 large-6 large-offset-6">
        <button class="close-button" aria-label="Close alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Mobile Contract Template</h4>
        <p>The Media Specialist Practice – Developing a Mobile Contract Template, is a User Experience Design piece developed by Rob Clark to provide understanding and guidance in a proposed design for an online Mobile Phone Contract Template.</p>
        
        <p>It explains the research and preperation to the proposed designs, and presents low and high fidelity wireframes before providing access to the finished prototype.</p>
        <h4>Research</h4>

        <p>Looking into the world of mobile phone ecommerce, what are the type of people looking, what is people are looking for, and the journey they take to achieve their objective. After completing a card sorting exercise to discover key elements users are interested in, find the conculsions I came up and what needs to be achieved to create an effective Mobile Contract Template.</p>

        <h4>Design</h4>

        <p>Based on the research obtained some low and high fidelity wireframes were created with the plan of achieving all that was set out within the conclusion. A style guide has been created to give more depth to how the design was created.</p>

        <h4>Prototype</h4>

        <p>A working prototype has been created to demonstrate some of the functionality expected from the design. Instructions on how to use the prototype have also been provided.</p>
        
        <p>For full details of the project click the button below</p>
        
        <a href="http://msp.robclarkdesigner.co.uk/" title="Project Website" class="button">Project Website</a>
        
        <img src="assets/img/msp-1.jpg" alt="Mobile Contract Template"/>
        <img src="assets/img/msp-2.jpg" alt="Mobile Contract Template"/>
        <img src="assets/img/msp-3.jpg" alt="Mobile Contract Template"/>
        <img src="assets/img/msp-4.jpg" alt="Mobile Contract Template"/>
        <img src="assets/img/msp-5.jpg" alt="Mobile Contract Template"/>
    </div>
</div>