<div class="grid-x portfolio-item" id="wiltshire-council">
    <div class="portfolio-title dark-text left-portfolio" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 40%, 0px);">
        <h4>Wiltshire Council</h4>
        <p>Redesign of the Wiltshire Council Website</p>
        <button class="hollow button secondary" href="#">View Project</button>
        <p>UI/UX</p>
    </div>
    <div class="portfolio-content dark-text small-12 large-6 large-offset-6">
        <button class="close-button" aria-label="Close alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Wiltshire Council</h4>
        <p>As part of my User Experience Design MSc, I was tasked with going through a website to perform a CIF (Common  Industry Format) usability test. The website I chose was the Wiltshire Council Website.</p>
        <p>In order to identify issues in the current design I first identified the types of persona’s that would use the website and identified areas of the site which I felt required improvement through a heuristic evaluation.</p>
        <p>The CIF usability test was then performed using 6 different participants. I filmed and evaluated their tasks and how they achieved their objectives, picking up key comments that were made along the way. Each participant then filled in a questionnaire explaining their opinions on how they felt the website was used.</p>
        
        <a href="http://uni.blue-phoenix.co.uk/UXsystems/Clark_Robert_K1454389_Wiltshire_Council_CI6310.pdf" title="Evaluation Report" class="button">Evaluation Report</a>
        <a href="http://uni.blue-phoenix.co.uk/UXsystems/wiltshire%20gov%20mockup%20v1.pdf" title="Website Wireframe" class="button">Website Wireframe</a>
        <a href="http://uni.blue-phoenix.co.uk/UXsystems/wiltshire%20gov%20ipad%20mockup%20v1.pdf" title="App Wireframe" class="button">App Wireframe</a>
        <a href="http://uni.blue-phoenix.co.uk/UXsystems/website/" title="HTML Prototype" class="button">HTML Prototype</a>
        <a href="http://uni.blue-phoenix.co.uk/UXsystems/app/" title="HTML Prototype" class="button">App Prototype</a>
        
        <img src="assets/img/wc-1.png" alt="Wiltshire Council"/>
        <img src="assets/img/wc-2.png" alt="Wiltshire Council"/>
        <img src="assets/img/wc-3.png" alt="Wiltshire Council"/>
        <img src="assets/img/wc-4.png" alt="Wiltshire Council"/>
        <img src="assets/img/wcapp-1.png" alt="Wiltshire Council"/>
        <img src="assets/img/wcapp-2.png" alt="Wiltshire Council"/>
        <img src="assets/img/wcapp-3.png" alt="Wiltshire Council"/>
        <img src="assets/img/wcapp-4.png" alt="Wiltshire Council"/>
    </div>
</div>