<div class="grid-x portfolio-item" id="snap-happy">
    <div class="portfolio-title dark-text left-portfolio" data-bottom-top="transform: translate3d(0px, -80%, 0px);" data-top-bottom="transform: translate3d(0px, 40%, 0px);">
        <h4>Snap Happy</h4>
        <p>Interactive Advice Website - WordPress/Bootstrap 3 Theme Build</p>
        <button class="hollow button secondary" href="#">View Project</button>
        <p>Website Design/WordPress Theme Build</p>
    </div>
    <div class="portfolio-content dark-text small-12 large-6 large-offset-6">
        <button class="close-button" aria-label="Close alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Snap Happy</h4>
        <p>Snap Happy is a website associated with Riverside Performing Arts and their desire to inform young adults the dangers of ‘sexting’.</p>
        <p>The branding and posters for the site had already been created, and using the guidelines set and the inspiration of the posters I designed and build the Snap Happy website.</p>
        <p>The key requirement was for it to be fully responsive to reach the target audience who were likely to access using mobile phones. Interactive scenarios were created for users to learn from.</p>
        <p>The website was designed in Photoshop and built in WordPress using Bootstrap 3 and jQuery.</p>
        
        <a href="http://www.riverside-performingarts.org.uk/snaphappy/" title="Live Website" class="button">Live Website</a>
        
        <img src="assets/img/snap-happy-1.png" alt="Snap Happy"/>
        <img src="assets/img/snap-happy-2.png" alt="Snap Happy"/>
        <img src="assets/img/snap-happy-3.png" alt="Snap Happy"/>
    </div>
</div>