<div id="menu-bar" data-stick-container >
    <div class="grid-x"  data-sticky data-sticky-on="small">
        <div class="cell small-offset-1 small-5 text-left" id="logo">
            <a href="#home" class="menu-link"><img src="assets/img/rc-logo.svg" alt="Rob Clark, Web & UX Designer"/></a>
        </div>
        <div class="cell small-5 end">
            <div id="menu-button">
                <span id="menu-line-1" class="menu-line"></span>
                <span id="menu-line-2" class="menu-line"></span>
                <span id="menu-line-3" class="menu-line"></span>
            </div>
        </div>
    </div>
</div>

<div id="menu-bg" data-showMenu="false">
    <div>
        <div><a href="#home" class="menu-link"><h3>Home</h3></a></div>
        <div><a href="#projects" class="menu-link"><h3>Projects</h3></a></div>
        <div><a href="#about" class="menu-link"><h3>About Me</h3></a></div>
        <div><a href="#contact" class="menu-link"><h3>Get In Touch</h3></a></div>
    </div>
</div>