{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/rc-logo.svg" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="/assets/img/rc-logo.svg" type="image/x-ico"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Rob Clark - Web &amp; UX Designer, Trowbridge, Wiltshire" />
    <meta name="twitter:site" content="@bluephoenixwebd" />
    <meta name="twitter:creator" content="@bluephoenixwebd" />
    <title>{{meta-title}}</title>
    <meta name="description" content="{{meta-description}}"/>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://use.fontawesome.com/fed3b4df34.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    {{> main-nav}}
    {{> body}}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
